<!DOCTYPE html>
<html>
<head>
  <title>MicDrop</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

 <style type="text/css">
      html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
      #container {height: 100%;}
      .matroshka {height: 100%;}
      #map { height: 100%; width: 100% }
    </style>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
<%= yield %>
</div>
<%= javascript_include_tag 'map_thing' %>
<%= javascript_include_tag 'application' %>
<script>renderApp();</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
   <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOLSonxDN7SukH3VRbe_5gO_W6r-Cy8Ts&callback=initMap">
    </script>
</body>
</html>
